@charset "utf-8";
.box{
    width : 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
/* header */
header{
    width: 1190px;
    height: 28px;
    background: #f2f2f2;
    margin: 0 auto;
    border-bottom: 1px solid #e5e5e5;
}
header .list-left li{
    float: left;
    color: #999;
    margin: 8px 11px;
    font-size: 12px;
}
header .list-left .iconfont{
    color: red;
    margin-left:100px;
}
header .list-left li a{
    color: #999;
}
/* 鼠标滑过在js里面加效果 */
header .list-left .overchange{
    color: red;
    text-decoration: underline;
}
header .list-right .overchange{
    color: red;
    text-decoration: underline;
}
header .list-right li{
    float: left;
    height: 28px;
    margin:0 12px;
    color: #999;
    font-size: 12px;
}
header .list-right li:nth-child(1){
    margin-left:320px;
}
header .list-right li a{
    color: #999;
    line-height: 28px;
}
header .list-right li b{
    font-size: 4px;
}
header .list-right li .shop{
    color: red;
    font-size: 10px;
}
header .list-right .right-one div{
    width: 96px;
    min-height: 58px;
    background: #fff;
    position: absolute;
    top:28px;
    text-align: center;
    border: 1px solid #e5e5e5;
    border-top: none;
    display:none;
    z-index: 5;
}
header .list-right .right-two div{
    width: 110px;
    min-height: 58px;
    background: #fff;
    position: absolute;
    top:28px;
    right: 112px;
    text-align: center
}
.list-right li .bodylist{
    width: 1188px;
    height: 275px;
    border: 1px solid gray;
    position: absolute;
    right: 116px;
    display: none;
    border-top: none;
    background: #fff;
    z-index: 1000;
}
.list-right li .bodylist .list-body{
    width: 1120px;
    height: 108px;
    margin: 0 auto;
    margin-top: 20px;
}
.list-right li .bodylist .list-body h1{
    color: #f56a00;
    font-size: 16px;
    font-weight: bold;
}
.list-right li .bodylist .list-body .leftzi{
    float: left;
    margin-left: -320px;
}
.list-right li .bodylist .list-body .leftzi1{
    float: left;
    margin-top: 25px;
    margin-left: -835px;
}
.list-right li .bodylist .list-body .leftzi2{
    float: left;
    margin-top: 50px;
    margin-left: -845px;
}
.list-right li .bodylist .list-body li{
    margin-right: 50px;
}
.list-right li .bodylist .center{
    margin-top: -20px;
}
.list-right li .bodylist .center h1{
    color: #2263d4;
    font-weight: bold;
}
.list-right li .bodylist .center .leftzi1{
    margin-top: -54px;
    margin-left: 205px;
}
.list-right li .bodylist .center .leftzi2{
    margin-top: -30px;
    margin-left: 205px;
}
.list-right li .bodylist .right{
    margin-top: -20px;
}
.list-right li .bodylist .right .leftzi{
    margin-left: 623px;
    margin-top: -76px;
}
.list-right li .bodylist .right .leftzi{
    margin-right: -30px;
}
.list-right li .bodylist .right .leftzi1{
    margin-left: 623px;
    margin-top: -54px;
}
.list-right li .bodylist .right .leftzi1{
    margin-right: -30px;
}
.list-right li .bodylist .right .leftzi2{
    margin-left: 623px;
    margin-top: -30px;
}
.list-right li .bodylist .right .leftzi2{
    margin-right: -30px;
}
.list-right li .bodylist .right h1{
    color: #000;
    font-weight: bold;
}
.list-right li .bodylist .bottom h1{
    color: #666;
    font-weight: bold;
    margin-left: 30px;
}
.list-right li .bodylist .bottom .leftzi{
    margin-left: -290px;
    margin-top: 10px;
}

nav{
    clear: both;
    width: 1190px;
    height: 120px;
    margin: 0 auto;
    background: #fff;
    /* position: relative; */
}
nav img{
    width: 300px;
    float: left;
    margin-top: 20px;
    margin-left: 100px;
    cursor: pointer;
}
nav input{
    position: absolute;
    top:55px;
    left: 775px;
    width: 348px;
    height: 30px;
    border: 4px solid #ff1655;
    background: #fff;
    font-weight: bold;
}
nav button{
    position:absolute;
    width: 90px;
    top:55px;
    left: 1136px;
    height: 38px;
    margin-left: -5px;
    background: #ff1655;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    letter-spacing: 2px;
    font-family: "幼圆"
}

.banner{
    height: 600px;
    background: #fff;
    overflow: hidden;
}
.banner .banner-top{
    width: 1190px;
    height: 36px;
    margin: 0 auto;
    border-bottom: 1px solid #7a45e5;
}
.banner .banner-top .top-left{
    float: left;
    width: 208px;
    height: 36px;
    background: #000;
    padding-left: 22px;
    font-size: 14px;
    line-height: 36px;
    color: #fff;
    cursor: pointer;
}
.banner .banner-top ul{
    height: 36px;
}
.banner .banner-top li{
    float: left;
    margin-left: 40px;
    line-height: 36px;
}
.banner .banner-top a{
    font-size: 14px;
    color: #000;
    font-weight: bold;
}
.banner .banner-top ul .left-zi{
    color: #7a45e5;
}
.banner .banner-top .about{
    float: right;
    line-height: 36px;
    margin-right: 30px;
    font-size: 14px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}
.banner .banner-top .about:hover{
    text-decoration: underline;
    color: #000;
}



.banner .banner-bottom{
    width: 1190px;
    height: 420px;
    margin: 0 auto;
    position: absolute;
    top: 189px;
    left: 37px;
}
.banner .banner-bottom .bottom-left{
    width: 230px;
    height: 420px;
    background: #211e1e;
}
.swiper-button-prev , .swiper-button-next{
    display: none;
}
.banner .banner-bottom .bottom-right{
    width: 210px;
    height: 420px;
    position: absolute;
    top:0;
    right: 0;
}
.banner .banner-bottom .bottom-right p:nth-child(1){
    margin-top: 34px;
}
.banner .banner-bottom .bottom-right p:nth-child(1) a{
    font-size: 20px;
    color: #7a45e5;
    font-weight: 900;
    margin-left:90px;
}
.banner .banner-bottom .bottom-right p:nth-child(2){
    margin-top: 12px;
}
.banner .banner-bottom .bottom-right p:nth-child(2) a{
    font-size: 20px;
    color: #7a45e5;
    font-weight: 900;
    margin-left:70px;
}
.banner .banner-bottom .bottom-right .tu1{
    margin-left: 90px;
    margin-top: 24px;
}
.banner .banner-bottom .bottom-right .tu2{
    width: 165px;
    height: 165px;
    margin-left: 25px;
    margin-top: 32px;
}
.banner .banner-bottom .bottom-right em{
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin-left: 70px;
    margin-top: 5px;
}
.banner .banner-bottom .bottom-right i{
    display: block;
    width: 176px;
    font-size: 12px;
    color: gray;
    margin-left:20px; 
    margin-top: -10px;
}
.quan{
    background: #f5f5f5;
}
.clear{
    clear: both;
}
#list-one{
    width: 1190px;
    height: 524px;
    margin: 0 auto;
    background: #f5f5f5;
    padding-top:40px;
}
#list-one>img{
    margin-left: 500px;
}
#list-one .listOne{
    width: 1190px;
    height: 474px;
    background: pink;
    margin-top: 20px;
    border-top: 1px solid #ee208f;
    position: relative;
}
#list-one .listOne .listOne-1{
    width: 120px;
    height: 474px;
    background: #fff;
    float: left;
}
#list-one .listOne .listOne-1 ul{
    margin-top: 16px;
    margin-left: 22px;
}
#list-one .listOne .listOne-1 ul li{
    font-size: 12px;
    margin-bottom: 16px;
}
#list-one .listOne .listOne-1 ul li:first-child{
    font-size: 14px;
    font-weight: bold;
}
#list-one .listOne .listOne-1 ul li a{
    color: #000;
}
#list-one .listOne .listOne-1 ul .color a{
    color: #ed1957;
}
#list-one .listOne .position-img{
    width: 192px;
    height: 100px;
    background: #e21954;
    position: absolute;
    bottom: 0;left: 120px;
}
#list-one .listOne .position-img hr{
    border: 1px solid #fff;
    width: 106px;
}
#list-one .listOne .position-img p{
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    margin-top:30px;
    line-height: 15px;
}
#list-one .listOne .position-img a{
    display: block;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    margin-top: -5px;
    margin-bottom: -5px;
}
#list-one .listOne .positionbody{
    width: 600px;
    height: 474px;
    position: absolute;
    top: 0;left: 312px;
    background: pink;
    border-right:1px solid gray
}
#list-one .listOne .positionbody-1{
    width: 400px;
    height: 240px;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    background: #fff;
    float: left;
}
#list-one .listOne .positionbody .img-zi{
    width: 200px;
    height: 240px;
    float: left;
    background: #fff;
}
#list-one .listOne .positionbody .img-zi .zi1{
    font-size: 14px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 80px;
    margin-bottom: 5px;
}
#list-one .listOne .positionbody .positionbody-1 img{
    width: 195px;
    height: 195px; 
    margin-top: 20px;
}
#list-one .listOne .positionbody .img-zi div{
    width: 96px;
    height: 1px;
    background: #000;
    margin-left: 20px;
}
#list-one .listOne .positionbody .img-zi .zi2{
    color: red;
    font-size: 16px;
}
#list-one .listOne .positionbody .img-zi .zi2 span{
    font-size: 12px;
    color: gray;
    margin-left: 20px;
}
#list-one .listOne .positionbody .img-zi .zi2 span:last-child{
    text-decoration: line-through
}
#list-one .listOne .positionbody img{
    float: right;
    margin-top: 20px;
}
#list-one .listOne .positionbody-2{
    width: 199px;
    height: 240px;
    float: right;
    border-bottom: 1px solid gray;
    background: #fff;
}
#list-one .listOne .positionbody-2 img{
    margin-right: 20px;
}
#list-one .listOne .positionbody-2 .zi1{
    margin-top: 190px;
    margin-left: 45px;
    font-size: 14px;
}
#list-one .listOne .positionbody .positionbody-2 .zi2{
    color: red;
    font-size: 16px;
    margin-left: 40px;
}
#list-one .listOne .positionbody .positionbody-2 .zi2 span{
    font-size: 12px;
    color: gray;
    margin-left: 10px;
}
#list-one .listOne .positionbody .positionbody-2 .zi2 span:last-child{
    text-decoration: line-through
}

#list-one .listOne .positionbody-3{
    width: 199px;
    height: 233px;
    float: left;
    border-right: 1px solid gray;
    background: #fff;
}
#list-one .listOne .positionbody-3 img{
    margin-right: 20px;
}
#list-one .listOne .positionbody-3 .zi1{
    margin-top: 180px;
    margin-left: 45px;
    font-size: 14px;
}
#list-one .listOne .positionbody .positionbody-3 .zi2{
    color: red;
    font-size: 16px;
    margin-left: 40px;
}
#list-one .listOne .positionbody .positionbody-3 .zi2 span{
    font-size: 12px;
    color: gray;
    margin-left: 10px;
}
#list-one .listOne .positionbody .positionbody-3 .zi2 span:last-child{
    text-decoration: line-through
}

#list-one .listOne .positionbody-4{
    width: 199px;
    height: 233px;
    float: left;
    border-right: 1px solid gray;
    background: #fff;
}
#list-one .listOne .positionbody-4 img{
    margin-right: 20px;
}
#list-one .listOne .positionbody-4 .zi1{
    margin-top: 180px;
    margin-left: 45px;
    font-size: 14px;
}
#list-one .listOne .positionbody .positionbody-4 .zi2{
    color: red;
    font-size: 16px;
    margin-left: 40px;
}
#list-one .listOne .positionbody .positionbody-4 .zi2 span{
    font-size: 12px;
    color: gray;
    margin-left: 10px;
}
#list-one .listOne .positionbody .positionbody-4 .zi2 span:last-child{
    text-decoration: line-through
} */

#list-one .listOne .positionbody-5{
    width: 200px;
    height: 233px;
    float: left;
    background: #fff;
}
#list-one .listOne .positionbody-5 img{
    margin-right: 20px;
}
#list-one .listOne .positionbody-5 .zi1{
    width: 200px;
    margin-top: 180px;
    text-align:center;
    font-size: 14px;
}
#list-one .listOne .positionbody .positionbody-5 .zi2{
    color: red;
    font-size: 16px;
    margin-left: 40px;
}
#list-one .listOne .positionbody .positionbody-5 .zi2 span{
    font-size: 12px;
    color: gray;
    margin-left: 10px;
}
#list-one .listOne .positionbody .positionbody-5 .zi2 span:last-child{
    text-decoration: line-through
}
#list-one .colorimg1{
    border-top: 1px solid #ea268e
}
#list-one .listOne .listOne-1 ul .color1 a{
    color: #ea268e;
}
#list-one .colorimg2{
    border-top: 1px solid #ec544a
}
#list-one .listOne .listOne-1 ul .color2 a{
    color: #ec544a;
}
#list-one .colorimg3{
    border-top: 1px solid #5fbb1c
}
#list-one .listOne .listOne-1 ul .color3 a{
    color: #5fbb1c;
}
#list-one .listOne .position-img1{
    background: #ea268e;
}
#list-one .listOne .position-img2{
    background: #ec544a;
}
#list-one .listOne .position-img3{
    background: #5fbb1c;
}

#list-one .listOne .position-img4{
    background: #3ca285;
}
#list-one .listOne .listOne-1 ul .color4 a{
    color: #3ca285;
}
#list-one .colorimg4{
    border-top: 1px solid #3ca285
}

#list-one .listOne .position-img5{
    background: #8048d3;
}
#list-one .listOne .listOne-1 ul .color5 a{
    color: #8048d3;
}
#list-one .colorimg5{
    border-top: 1px solid #8048d3
}

#list-one .listOne .position-img6{
    background: #5797fb;
}
#list-one .listOne .listOne-1 ul .color6 a{
    color: #5797fb;
}
#list-one .colorimg6{
    border-top: 1px solid #5797fb
}
.banner-bottom .bottom-left{
    margin-left:80px;
}
.banner-bottom .bottom-left .left-list .float{
    width: 228px;
    height: 83px;
    margin-bottom: 1px;
}
.banner-bottom .bottom-left .left-list ul{
    width: 190px;
    height: 80px;
    margin-left: 20px;
    border-bottom: 1px dashed #989595;
}
.banner-bottom .bottom-left .left-list .for5 ul{
    border: none;
}
.banner-bottom .bottom-left .left-list ul li{
    color: #fff
}
.banner-bottom .bottom-left .left-list ul li em{
    display: block;
    color: #fff;
    padding-top: 15px;
    font-size: 16px;
    font-weight: 900;
}
.banner-bottom .bottom-left .left-list ul li:last-child{
    font-size: 14px;
    margin-top: 10px;
}
.banner-bottom .bottom-left .left-list ul li a{
    margin-right: 5px;
    color: #fff
}
.banner-bottom{
    position: relative;
    display: none;
}
.banner-bottom .listhidden{
    width: 720px;
    min-height: 580px;
    background: #fff;
    position: absolute;
    left:310px;top:0px;  
    z-index: 4;
    display: none;
    box-shadow: 0px 2px 10px 0 #807d7d;
}


.banner-bottom .listhidden .list-top{
    width: 655px;
    height: 135px;
    margin-top: 38px;
    margin-left: 30px;
}
.banner-bottom .listhidden .list-top .top-left{
    width: 314px;
    float: left;
    min-height: 135px;
}
.banner-bottom .listhidden .list-top .top-left .left-zi{
    font-size: 14px;
    font-weight: 900;
    margin-left: 5px;
}
.banner-bottom .listhidden .list-top .top-left hr{
    border:0.5px solid #000;
    margin-bottom: 10px;
}
.banner-bottom .listhidden .list-top .top-left .left-zi1{
    font-size: 12px;
    color: gray;
    margin-top: 8px;
    margin-bottom: 3px;
}
.banner-bottom .listhidden .list-top1{
    margin-top: 50px;
}
.banner-bottom .listhidden .list-top .top-left a{
    margin: 0 5px;
    color: #4d4b4b
}
.banner-bottom .listhidden .list-top .top-left .color{
    color: red
}
.banner-bottom .listhidden .list-top .top-right{
    width: 314px;
    float: right;
    height: 135px;
}
.banner-bottom .listhidden1 .list-top{
    margin-bottom: -60px;
}
.banner >img{
    margin: 0 auto;
    margin-left: -140px;
}



.navright{
    width:40px;
    height: 100%;
    background: #000;
    position: fixed;
    top:0;right: 0;
    z-index: 100;
}
.navright img{
    margin-top: 170px;
    margin-left: 10px;
}
.navright .xian{
    display: block;
    width: 25px;
    height: 1px;
    background: #8c8a8a;
    margin-top: 20px;
    margin-left: 8px;
}
.navright p{
    width: 40px;
    font-size: 12px;
    color:#fff;
    margin-top:18px;
    text-align: center;
    cursor: pointer; 
}
.navright p i {
    font-size: 16px;
    color: red;
    margin-left: -2px;
}
.navright>em{
    display: block;
    color: #fff;
    font-size: 18px;
}
.navright .icon-qian,.icon-shoucang,.icon-biao{
    margin-left: 10px;
}
.navright .icon-qian{
    margin-top: 18px;
}
.navright .icon-erweima-copy{
    display: block;
    color: #fff;
    font-size: 18px;
    margin-top: 170px;
}
.navright .icon-zhiding{
    display: block;
    color: #fff;
    font-size: 18px;
    display: none;
    margin-top: 10px;   
}
.navright .icon-zhiding,.icon-erweima-copy{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

.body{
    width: 100%;
    min-height: 10820px;
    background: #e0e0e0;
}
.body .bodyone{
    width: 990px;
    height: 890px;
    margin: 0 auto;
}
.body .bodyone >img{
    padding-top: 10px;
}
.body .bodyone .listbody{
    width: 990px;
    height: 766px;
    margin-top: 10px;
}
.body .bodyone .listbody .listbody-1{
    width: 160px;
    height: 252px;
    background: #fff;
    position: relative;
    float: left;
    margin: 0px 2.5px;
    margin-bottom: 5px;
    cursor: pointer;
}
.body .bodyone .listbody .listbody-1 h1{
    font-size: 14px;
    margin-top: 10px;
    margin-left: 10px;
}
.body .bodyone .listbody .listbody-1 h2{
    font-size: 14px;
    color: red;
    margin-left: 10px;
}
.body .bodyone .listbody .listbody-1 p{
    font-size: 16px;
    color: red;
    margin-left: 10px;
    margin-top: 15px;
}
.body .bodyone .listbody .listbody-1 p span{
    font-size: 12px;
}
.body .bodyone .listbody .listbody-1 p b{
    font-size: 12px;
    text-decoration: line-through;
    color: #ccc;
}
.body .bodyone .listbody .listbody-1 .zi{
    width: 70px;
    height: 20px;
    background: red;
    position: absolute;
    top:10px;left: 10px;
    font-size: 12px;
    color: #fff;
    line-height: 20px;
    text-align: center;
}
.body .bodyone1{
    height: 510px;
}



.hiddenlist{
    width: 92px;
    height: 456px;
    background: #8035fb;
    position: fixed;
    top: 150px;
    right: -52px;
    /* display: none; */
}
.hiddenlist > img{
    width: 80px;
    height: 80px;
    margin-left: 11px;
    margin-top:10px; 
}
.hiddenlist ul{
    margin-top:15px;
}
.hiddenlist li{
    width:82px;
    height: 25px;
    font-size: 14px;
    line-height: 25px;
    padding-left: 10px;
    color: #000;
    cursor: pointer;
}
.hiddenlist li:last-child{
    text-align: center;
}
.hiddenlist li a{
    color: #fff;
}
.hiddenlist ul .color{
    background: #09061d
}
.hiddenlist ul .change1{
    background: #09061d
}

.footer{
    width: 100%;
    height: 120px;
    background: #f5f6f7;
}
.footer img{
    margin-left: 30px;
}

.footerlist{
    width: 100%;
    height: 312px;
    background: #ff2182;
}
.footerlist .fooer-body{
    width: 1240px;
    height: 312px;
    margin: 0 auto;
}
.footerlist .fooer-body .body-top{
    width: 1210px;
    height: 270px;
    border-bottom: 2px solid #fff;
    padding-top: 40px;
}
.footerlist .fooer-body .body-top .bodytop-left{
    width: 208px;
    height: 270px;
    float: left;
}
.footerlist .fooer-body .body-top .bodytop-left h1{
    font-size: 38px;
    color: #fff;
    font-weight: bold;
}
.footerlist .fooer-body .body-top .bodytop-left h2{
    font-size: 12px;
    color: #fff;
    margin-top: 30px;
}
.footerlist .fooer-body .body-top .bodytop-left h3{
    font-size: 13px;
    color: #fff;
    margin-top: 18px;
}
.footerlist .fooer-body .body-top .bodytop-left a{
    display: block;
    font-size: 16px;
    color: #fff;
    margin-top: 22px;
}
.footerlist .fooer-body .body-top dl{
    float: left;
    margin-left: 40px;
    margin-top: 10px;
    float: right;
}
.footerlist .fooer-body .body-top dt img{
    width: 200px;
    border:5px solid #fff;
}
.footerlist .fooer-body .body-top dd{
    display: block;
    font-size: 16px;
    text-align: center;
    color: #fff;
    margin-top: 5px;
}
.footerlist .body-bottom{
    width: 100%;
    height: 64px;
    padding-top: 10px;
    background: #000
}
.footerlist .body-bottom div{
    font-size: 12px;
    color: #fff;
    margin-bottom: 5px;
    margin-left: 10px;
}
.footerlist .body-bottom div a{
    color: #fff;
}
.footerlist .body-bottom a:hover{
    text-decoration: underline;
}