@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1558350198155'); /* IE9 */
  src: url('iconfont.eot?t=1558350198155#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKMAAsAAAAABlQAAAJCAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCfgo4VQE2AiQDDAsIAAQgBYRtB0EbngUR1YtPsi+LdwoTCdZwXAhn4nIFHveGls7IcP+pG1KUSfv9IoLv93vdc88NoksUoMpEEtmoCBkVlZRRtUYTOBSq49k91ams/iB4e1EJWqSiiKING0xpakEA9BBCHfPNzfq2/0ZEGKbkPPhfviOFnV4aVifZ9v5LhAYHn+dyehPo7Gh+OzvHMYsW7WEbj3oBxgEFuBdGkRVRxA1jF7zAxwS6TVoSuz4mOlX2qkCc7NXoLORVlbU6hfaGg1U8JXSWx+XwJPp+/GU5Oinakr3x8Nh1NpsambdaJweEAgI83obEEipx1Fg/lIJxqbteTXGsWUFz66YgJo7KF+Kvc9t7wRz0yhMZnkrQfEQBCdqLzXYMIHb0vhCZV2cvY5ky/33E7TBc4c/khzKQHwsCwdAqoSj737OC755diCLV8HDnHhLB3zAGDlXDsqNZNd3TrXCyKgXY0Y2WnR72Z3p4bHA3odPYhGSHiQyp0xRZ2SW06bGCdp020G3RwfEeI06lqF1YcB8gDHqNot9XpEHfyMr+Rptx/9BuMBLdjkJf2GMm6K0xGkEP9obR0RbcuOi48439vhjOW5HwR05jCaq8LLc63JCX2JKOvhYJEJhWaMFzuCwEkWlCJ/kgEpuiCE1vyh2tSiuMRtCDvWF0tIVgvOjK59/Y74vhjkBd+0dO4/RQ5eUAsvO3QYFHeSUdfS0SIDCt0IJ5uCwEsXnehE7yYUI1NoUzKgz18+3D6/+dgG5lP5CPEhlVhpnObI+veMCSCK1KAQ==') format('woff2'),
  url('iconfont.woff?t=1558350198155') format('woff'),
  url('iconfont.ttf?t=1558350198155') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1558350198155#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-up:before {
  content: "\e50d";
}

.icon-arrow-bottom:before {
  content: "\e50e";
}

